/* Styling for homepage */
@import url("styles.css");

.video-container {
  position: relative;
  border: 1px solid;
}
video {
  width: 100%;
}
.overlay-text {
  position: absolute;
  color: #fff;
  background: rgb(0 0 0 / 50%);
  text-align: center;
  top: 0;
  width: 100%;
  height: 100%;
}
.service {
  width: 70%;
  margin: 10px auto;
  display: flex;
  gap: 20px;
}
.about {
  display: flex;
  gap: 20px;
  background: var(--color-accent-blue);
  color: #fff;
}
