/* Styling for homepage */
@import url("styles.css");

.video-container {
  position: relative;
}
video {
  width: 100%;
}
.overlay-text {
  position: absolute;
  color: #fff;
  background: rgb(0 0 0 / 50%);
  text-align: center;
  top: 0;
  width: 100%;
  /* height: calc(100% - 7px); */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 25px #0003;
  border-radius: 20px 20px 0 0;
  padding: 40px 20px;
  position: relative;
  z-index: 1;
  margin-top: -90px;
  background-color: #fff;
}
.service div:hover {
  transition: 0.3s ease;
  transform: translateY(-5px);
}
.about {
  display: flex;
  gap: 20px;
  background: var(--color-blue-deep);
  color: #fff;
}
.about + div {
  background: var(--color-blue-deep);
  color: #fff;
  display: flex;
}
.about h2,
.about a {
  color: var(--color-yellow-bright);
  text-decoration: none;
}
.faculties {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.faculties div {
  border-radius: 3px;
  padding: 20px;
  outline: 0.5px solid #333;
}
.faculties div:hover {
  box-shadow: 0 0 10px #333;
}
