/* Styling for header and footer*/
:root {
  --color-blue-deep: #1a337e;
  --color-accent-blue: #1a337ebd;
  --color-yellow-bright: #fdf302;
  --color-redish: #db301b;
}
body {
  margin: 0;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  max-width: 1024px;
}

/* Header */
.socials {
  display: flex;
  background-color: var(--color-blue-deep);
  border-bottom: 1px solid var(--color-yellow-bright);
  gap: 20rem;
}
.contact {
  list-style: none;
  display: flex;
  gap: 5px;
}
.contact a {
  text-decoration: none;
  color: #fff;
}
.contact a:hover {
  color: var(--color-yellow-bright);
}
.nav-bar {
  display: flex;
  gap: 30%;
}
nav a {
  text-decoration: none;
}
