/* Styling for header and footer*/
:root {
  --color-blue-deep: #1a337e;
  --color-accent-blue: #1a337ebd;
  --color-yellow-bright: #fdf302;
  --color-redish: #db301b;
}
body {
  margin: 0;
  background-color: #fff;
}

/* Header */
.contact {
  display: flex;
  background-color: var(--color-accent-blue);
  padding: 10px;
  gap: 20em;
  justify-content: center;
}
.contact a {
  color: #fff;
  text-decoration: none;
}
